button.Button--secondary {
    border: solid 2px #333;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    width: 96%;
    padding: 6px 0;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 140px;
    border-radius: 5px;
    cursor: pointer;
}

.app-shell {
    background-color: #f7f7f7;
    min-height: 100vh;
}

.dashboard {
    width: 100%;
    max-width: 960px;
    margin: auto;
}